.container {
  width: 1180px;
  margin: 0 auto;
}
.list {
  font-size: 16px;
  color: #000;
  background-color: rgb(155, 87, 87);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 60px;
  margin: 0;
}

li {
  list-style: none;
  padding-left: 40px;
  padding-top: 20px;
}
.colum1 {
  background-color: rgb(145, 132, 143);
  height: 100px;
}
.colum2 {
  background-color: blanchedalmond;
  display: flex;
  flex-wrap: wrap;
}
.img {
  margin: 40px;
  width: 40%;
}
img {
  width: 250px;
  border-radius: 10%;
}

.text {
  width: 50%;
  align-items: center;
}
h2 {
  margin: 0;
  padding-top: 30px;
  text-align: center;
}
h4 {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: oblique;
}
h6 {
  font-size: 25px;
  margin-top: 20%;
}
h5 {
  font-style: italic;
  font-size: 18px;
}

h4 {
  text-align: center;
  margin: 0;
  padding-top: 30px;
}
.colum3 {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(145, 132, 143);

  padding: 40px;
}
p {
  padding: 0;
  margin: 0;
  font-size: 20px;
}
.quote {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  width: 70%;
  margin: auto;
}
.colum4 {
  background-color: blanchedalmond;
  padding: 40px;
}
.colum5 {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(155, 87, 87);
  padding: 40px;
}
.left {
  margin-right: 40px;
  width: 40%;
}
.right {
  width: 50%;
}
.colum6 {
  background-color: blanchedalmond;
  padding: 40px;
  text-align: center;
}
.snippet {
  margin-bottom: 20px;
}
